* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b1522;
  min-height: 100vh;
  color: #f1f1f1;
}

.title h1 {
  font-size: 2.2rem;
}

.conteudo {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem;
}

.First_frase p {
  font-size: 1.8rem;
  text-align: justify;
}

.First_frase {
  max-width: 60rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.1rem #f1f1f181;
}

#timer {
  font-size: 1.8rem;
  text-align: center;
  color: #f1f1f1;
}

.FrameSpotifyPlaylist {
  background-color: #1DB954;
}

.Heart {
  height: 6rem;
  width: 6rem;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  /* Deixa o coração "em pé" */
  box-shadow: -1rem 1rem 9rem #f20044;
  animation: heart 1s linear infinite alternate;
  margin-top: 5rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }

  80% {
    transform: rotate(-45deg) scale(1.0);
  }

  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.Heart::before,
.Heart::after {
  content: ' ';
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: #f20044;
  border-radius: 50%;
}

.Heart::before {
  top: -50%;
  left: 0;
}

.Heart::after {
  left: 50%;
  top: 0;
}

.floating-heart {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #f20044;
  transform: rotate(-90deg);
  border-radius: 0;
  /* animation: float-up 2s ease-out forwards; */
}

.floating-heart::before,
.floating-heart::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #f20044;
  border-radius: 50%;
}

.floating-heart::before {
  top: -50%;
  left: 0;
}

.floating-heart::after {
  left: 50%;
  top: 0;
}

/* @keyframes float-up {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-150px) scale(0.5);
  }
} */