* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b1522;
  min-height: 100vh;
  color: #f1f1f1;
}

.title h1{
  font-size: 2.2rem;
}

.Heart {
  height: 6rem;
  width: 6rem;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -1rem 1rem 9rem #f20044;
  animation: heart 1s linear infinite alternate;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@keyframes heart{
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1.0);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
.Heart::before {
  content: ' ';
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: #f20044;
  top: -50%;
  border-radius: 5rem;
  box-shadow: -1rem -1rem 9rem #f20044;
}
.Heart::after {
  content: ' ';
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: #f20044;
  right: -50%;
  border-radius: 5rem;
  box-shadow: 1rem 1rem 9rem #f20044;
}

.conteudo {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem;
}

#timer {
  font-size: 1.8rem;
  border-radius: 10px;
  text-align: center;
  color: #f1f1f1;
}

.First_foto {
  background-image: url(./imagens/WhatsApp\ Image\ 2024-11-21\ at\ 20.09.21_103bd39b.jpg);
  background-position: 50%;
  background-size: cover;
  border-radius: 1rem;
  width: 26.0rem;
  height: 20.0rem;
  position: relative;
}

.First_frase p {
  font-size: 1.8rem;
  text-align: center;
}

#spotify {
  width: 26.0rem;
  position: absolute;
  bottom: 0;
}

.frame {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  border: 2px solid #03212b;
  border-radius: 1rem;
  background: #082040ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}