

.box{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #C1A26F ;
    color: #89373D;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px #554832;
}
.container-fluxo{

    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.titulo-fluxo{
    text-align: center;
    padding: 50px;
}

@media (max-width:768px){

    .container-fluxo{
        width: 100%;
        display: block;
        padding: 0px;
        gap: 15px;
        margin: 0 auto;
    }

    .box{
        
        padding: 30px;
        width: 370px;
        font-size: 15px;
        height: 60px;
        margin: 15px auto;
    }

    .Button-fluxo{
        
    
        font-size: 15px;
        align-items: center;
        text-align: center;
        padding-top: 50px;

    }
}