* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    color: #5F6C7D;
}

html {
    font-size: 62.5%;
}

.container-forms {
    
    display: flex;
    padding: 80px;
    justify-content: space-around;
    font-weight: bold;
    color: #5F6C7D;
    
}

.container-forms h1{
    font-size: 34px;
    font-weight: bold;
    color: #5F6C7D;
    padding-bottom: 50px;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}


input,
textarea,
.file-label {
    border: 3px solid #C2A157;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: transparent;
}

input:hover,
textarea:hover,
.file-label:hover {
    background-color: #5F6C7D;
    transition: ease-in 0.4s;
}

form {
    width: 600px;
    display: block;
    padding: 50px;
}

textarea {


    height: 210px;
    word-wrap: break-word;
    display: block;
}

input[type="file"] {
    display: none;
    border: none;
}

.file-label img {
    width: 20px;
}

.file-label {
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

.file-label i {
    margin-right: 8px;
    font-size: 18px;
}

/* container ao vivo*/

.container-ao-vivo {

    padding-top: 5px;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-como-fica {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    height: 690px;
    width: 380px;
    border-radius: 15px;
    justify-content: center;
    display: block;
    border: 5px solid #C2A157;

}


.container-foto {
    width: 30rem;
    height: 415px;
    padding-top: 10px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #800F2F 80%, #D7B988 100% );
    border-radius: 0.5rem;
}

.foto {
    margin-top: 10px;
    width: 80%;
    height: 350px;
    margin: 0 auto;
    border: 5px solid white;
    background-color: rgb(226, 226, 226);
    overflow: hidden;
}


.footer-img img {
    width: 50px;
}

.footer-img p {
    font-size: 15px;
}

.footer-img {

    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0px 20px 0px 20px;
    font-size: 5px;
}


.mensagem {
    max-width: 30rem;
    margin: 2rem auto;
    padding-bottom: 2rem;
}

.container-contador {
    height: 250px;
    margin: 20px;
}

.container-musica {
    height: 250px;
}

iframe {
    width: 80%;
    height: 220px;
    padding-bottom: 40px;
}

#nomeCasal {
    font-family: "MonteCarlo", serif;
    font-size: 3rem;
    max-width: 60rem;
    text-align: end;
    color: #000;
}


@media (max-width:768px){
    .container-forms{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    
    }

    .container-forms h1{
        font-size: 22px;
    }

    input, textarea{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    
    }

    form{
        width: 100%;
    }

    .container-ao-vivo{
        width: 100%;

        
    }
    .container-ao-vivo h3{
        padding: 20px;
        font-size: 15px;
        font-family: 'Montserrat'
    }
    .container-como-fica{
        width: auto;
        padding: 15px;
        border-radius: 15px;
        padding-bottom: 100px;
        margin: 20px;
    
    }
    .container-como-fica h2{
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
    }

    .Button-forms{
        text-align: center;
        padding-top: 20px;
    }
    
}