<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Luckiest+Guy&family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="template_02.css">
  <title>Heart</title>
</head>
<body>
  <div class="conteudo">
    <div class="title">
      <h1>Feliz Dia dos namorados!</h1>
    </div>
    <div class="FrameSpotify"></div>
    <div class="First_frase">
      <p>Agradeço á Deus por ter me presenteado com alguém como você, só sabemos o significado da frase “Deus tem planos que você nem consegue imaginar para sua vida”, quando ele faz coisas como essas. E com você hoje, vejo que isso tudo é verdade.</p>
    </div>
    <div id="timer"></div>
    <div class="Heart"></div>
  </div>
</body>
</html>
<script src="../../JS/temporizador.js"></script>
<script src="../../JS/componentes.js"></script>
