.container-perguntas-frequentes{
    
    background-color: #D7B988;
   margin: 50px;
    
}

.container-perguntas-frequentes h1{
    text-align: center;
}

.container-perguntas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 auto;
    margin-top: 50px;
    
}
.box-perguntas{
    width:  1000px ;
    padding: 20px;
    background-color: #C1A26F;
    margin: 15px;
    box-shadow: 0 6px 8px #554832;
}
    
.box-perguntas h2{
    font-size: 16px;
}

.box-perguntas p{
    font-size: 14px;
    color: wheat;
}

@media(max-width:768px){
    .container-perguntas-frequentes{
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0px;
    }

    .box-perguntas{
        width: 370px;
        padding: 10px;
        margin: 15px;
        font-size: 14px;
        height: 166px;
    }
    .box-perguntas h2{
        padding-bottom: 5px;
    }
    .container-perguntas{
        width: 100%;
        margin: 0px;
    }
}