.container-perguntas-frequentes{
   margin: 50px;
    
}

.container-perguntas-frequentes h1{
    text-align: center;
    font-size: 34px;
    color: #5F6C7D;
}

.container-perguntas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 auto;
    margin-top: 50px;
}
.box-perguntas:hover{
    transform: scale(1.05);
}
.box-perguntas{
    width:  1000px ;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 6px 8px #554832;
    transition: all 0.3s ease;
}
    
.box-perguntas h2{
    font-size: 16px;
    color: #800F2F;
    margin-bottom: 10px;
}

.box-perguntas p{
    font-size: 14px;
    color: #5F6C7D;
}


/* sumario */

details {
    color: black

  }

  summary {
    font-weight: bold;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none; /* Remove o ícone padrão do navegador */
  }

  summary:after {
    content: " ⬆"; /* Seta para cima */
    float: right;
    transition: transform 0.3s;
  }

  details[open] summary:after {
    content: " ⬇"; /* Seta para baixo */
  }

  .details-content {
    margin-top: 10px;
    color: #cfcfcf;
  }

  /*fim*/

@media(max-width:768px){
    .container-perguntas-frequentes{
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0px;
    }

    .box-perguntas{
        width: 370px;
        padding: 10px;
        margin: 15px;
        font-size: 14px;
        height: 196px;
    }
    .box-perguntas h2{
        padding-bottom: 5px;
    }
    .container-perguntas{
        width: 100%;
        margin: 0px;
    }
}