* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #F8EDEB;
}

.container-imagem {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 0.5rem;
    width: 30rem;
    height: 50rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    background: linear-gradient(to bottom, #800F2F 80%, #D7B988 100% )
}

.button-retrato {

    text-align: center;
}

.container-dados {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    gap: 4rem;
    margin: 2rem 2rem 5rem 2rem;
    width: 30rem;
}

#fotoCasal {
    background-size: cover;
    width: 80%;
    height: auto;
    border: solid 0.5rem white;
    margin: 10px 30px;
}

#mensagem,
#timer,
#link {
    font-size: 2rem;
    max-width: 30rem;
}

#mensagem {
    text-align: justify;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFF;
    color: #5F6C7D;
}

#timer {
    text-align: center;
}

#nomeCasal {
    font-family: "MonteCarlo", serif;
    font-size: 3rem;
    max-width: 60rem;
    text-align: center;
    color: #000;
}

#coracaoRetrato {
    font-size: 2rem;
    width: 7rem;
    border: none;
}