
.header {

    background-color: #C1A26F;
    color: #89373D;
    padding: 50px;
    text-align: center;
    display: flex;
    padding-left: 100px;
    justify-content: center;
    box-shadow: 0 10px 20px #89373D;
    position: relative;

    
}

.header img{
    padding-right: 10px;
    width: 50px;
    height: 50px;
    color: #89373D;
}

h1 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: bold;
}


@media (max-width:768px){

    .header{
        align-items: center;
        width: 100%;
        padding: 20px;
    }
}