.my-button {
  background: linear-gradient(90deg, #7b3f3f, #a64545); /* Gradiente do fundo */
  color: #D7B988; 
  font-size: 16px; 
  font-weight: bold;
  padding: 20px 40px;
  border: none; 
  border-radius: 15px; 
  box-shadow: 0 6px 8px #5e1010;
  cursor: pointer;
  width: 250px;
  }
  
  .my-button:hover {
    background-color: red
  }