footer{
    display: flex;
    color: black;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
}

.logo-esq img{
    width: 50px;
    padding-right: 10px;
    
}

.logo-dir img{
    width: 50px;
    padding-left: 10px;
    
}

.logo-dir{
    align-items: center;
    text-align: center;
    display: flex;
}

.logo-esq{
    display: flex;
    width: 250px;
    text-align: center;

}

@media (max-width:768px){
    .footer{
    
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}